@page
@model ShortenUrl.Pages.ShortenedUrls.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ShortenedUrl</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ShortenedUrl.OriginalUrl" class="control-label"></label>
                <input asp-for="ShortenedUrl.OriginalUrl" class="form-control" />
                <span asp-validation-for="ShortenedUrl.OriginalUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortenedUrl.ShortUrl" class="control-label"></label>
                <input asp-for="ShortenedUrl.ShortUrl" class="form-control" />
                <span asp-validation-for="ShortenedUrl.ShortUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
