@page "{shortUrl?}"
@model IndexModel
@{
    ViewData["Title"] = "Shorten URL";
}

<div class="text-center">
    <h1 class="display-4">Shorten URL</h1>

    <form method="post" class="shorten-form">
        <label>
            URL:
            <input type="text" asp-for="@Model.ShortenedUrl.OriginalUrl"/>
        </label>
        <input type="submit" value="Shorten" class="submit-btn" />
    </form>
 
    <div>
        <p>Short URL:</p>
        <p>@Model.FullShortUrl</p>
    </div>
</div>
