@page
@model IndexModel
@{
    ViewData["Title"] = "Shorten URL";
}

<div class="text-center">
    <h1 class="display-4">Shorten URL</h1>

    <form>
        <label>
            URL:
            <input type="text" />
        </label>
        <input type="submit" value="Shorten" />
    </form>

    <div>
        <p>Short URL:</p>
        <p></p>
    </div>
</div>
